<div class="container">
    <footer class="footer">
        <small>Copyright &copy; DND created by <a href = "kbahi@inceptio.tn"></a>Karim bahi</small>
        <nav>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
                <li> <a href="drivenewdynamics.com"></a>Go to DND </li>
            </ul>
        </nav>
    </footer>
</div>